name: Continuous Deployment to Staging
on: 
    push:
        branches: [ main ]

jobs: 
    redeploy_everything:
        name: Deploying everything to staging cluster
        runs-on: ubuntu-latest
        
        steps:
            - run: |
                echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
                mkdir -p /home/runner/.ssh
                ls /home/runner/.ssh
                touch /home/runner/.ssh/known_hosts
                echo "${{ secrets.KNOWN_HOSTS }}" > ~/.ssh/known_hosts
                chmod 600 ~/ssh_key
                chmod 644 ~/.ssh/known_hosts
                ssh -i ~/ssh_key ubuntu@47.129.243.82 -t "source ~/.nvm/nvm.sh
                nvm use 22.13.1
                cd bms-deply-monorepo/
                git pull origin main
                npm install -g pnpm
                pnpm install
                pnpm run build
                pm2 restart all
                "

